name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Debut du deploiement
        run: echo "Début du déploiement"

      - name: Afficher le secret
        run: echo "Token = ${{ secrets.DEPLOY_TOKEN }}"

      - name: Fin
        run: echo "Déploiement terminé par TCHOUCTIO YEPCHI Marie-France"
